.interaction-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interaction-entry-timeentry-container {
    flex: 1;
}

.interaction-entry-icon-container {
    flex: 1;
}

.interaction-entry-card-container {
    flex: 5;
}